@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: hsl(240, 38%, 20%);
}

body {
  background-image: url('./images/pattern-bg.svg'),
    url('./images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: 83% 39%, left bottom;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  width: 1100px;
  height: 540px;
  position: relative;
}
.image > img {
  position: absolute;
  right: 0;
  top: 0;

  box-shadow: hsl(240, 9%, 58%) 0px 25px 25px -20px;
}
.btn {
  position: absolute;
  z-index: 2;
  bottom: -4%;
  right: 35%;
  background: #fff;
  border-radius: 25px;
  width: fit-content;
}
.btn button {
  border: none;
  margin: 10px 15px;
  background: #fff;
}
.content {
  background-image: url('./images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-position: 19% 19%;

  position: absolute;
  left: 0;
  z-index: 2;

  font-size: 32px;
  font-weight: 300;
  width: 650px;
  height: 540px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-posiiton {
  margin-top: 1.5rem;
  font-size: 18px;
}
.name-posiiton > span {
  color: hsl(240, 18%, 77%);
}

@media screen and (max-width: 414px) {
  body {
    background-position: center 7.6%, left bottom;
    background-size: 340px;
  }
  main {
    width: 0;
    height: 100vh;
    position: static;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .image {
    position: relative;
  }
  .image > img {
    width: 262px;
    position: static;
    margin-top: 4.28rem;
  }
  .btn {
    right: 50%;
    transform: translate(50%, 0);
  }
  .content {
    text-align: center;
    background-position: center 18%;
    background-size: 70px;
    position: static;
    font-size: 20px;
    width: 300px;
  }
  .name-posiiton {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
}
